<head>
    <title>English Language Teacher</title>
    <meta name="description" content="Tatiana Azarchenko, English language teacher."
    <link href="/favicon.png" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Neucha&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet"
        href="/fonts/font-awesome-5.0.13/web-fonts-with-css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/gallery.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      activateGallery();
    });
  </script>
  </head>