---
layout: russian
---

<div class="blog-index">
  <div class='hero'>
  </div>
  <h1>Записки путешественницы</h1>
  <div class="col-two">
    <div class="col-aside blog-recent">
      <h4>Последние записи</h4>
      <ul class="blog-title-list">
        {% include recent-posts.html %}
      </ul>
    </div>
    <div class="col-content">
      {% for post in site.posts %}
      <div class="blog-posts">
        <header class="post-header">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <div class="post-byline">
          <img src="{{ post.gravatar }}">
            <!--<a href="{{ post.authorTwitter }}" class="social-link">Fb</a>-->
            by: {{ post.author }}
            <span> - {{ post.date | date: '%B %d, %Y' }}</span>
          </div>
        </header>
      <a href="{{ post.url }}"><div class="posts-image" style="background-image:url({{ post.postHero }})">
      </div></a>
      {{ post.excerpt }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>